:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

.bg-gray-dark {
    background-color: #000000 !important; }
.bg-gray {
    background-color: #808080 !important; }
.hero-wrap{
    background-color: #000000 !important;
}
a:hover{
    color: white !important;
}
.text-primary{
    color: #f8b500 !important;
}



@media (min-width: 768px) {
    .main-content img {
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
        filter: gray; /* IE6-9 */
        -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
        -webkit-transition: all .5s ease-in-out;
        /*width: 100% !important;
        -o-object-fit: cover;
        object-fit: cover;
        height: 524px !important;
        margin-bottom: 20px  !important;*/
      }

 }

  
  .main-content img:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
    -webkit-transform: scale(1.05);
  }

  .main-content img {
    width: 100% !important;
    -o-object-fit: cover;
    object-fit: cover;
    height: 600px !important;
    margin-bottom: 20px; }
    @media (max-width: 575.98px) {
      .main-content img {
        height: 200px !important; } }


    #logo{
        width: auto !important;
        height: 50px !important;
    }
    
    .photo-wrapper {
        position: relative;
        overflow: hidden;
      }
      
      .photo-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity 0.3s ease;
      }
      
      .photo-wrapper:hover .photo-overlay {
        opacity: 1;
      }
      
      .photo-category {
        color: #fff;
        font-size: 24px;
      }
      
.photo-wrapper img {
    filter: grayscale(0); /* Dodajemy filtr, aby zdjęcie było kolorowe */
  }
      